*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-grey{
  background-color: #eae7e8;
}
.flex{
  display: flex;
} 
.justify-between{
  justify-content: space-between;
} 
.container{
  width: 90vw;
  margin: 0 auto !important;
}
.header{
 height: 80px;
 line-height: 80px;
}
.header-ul{
  list-style: none;


}
.header-ul li {
  display: inline;
  padding: 20px;
  font-size: 20px;
  color: rgb(214, 38, 79) !important;
}
.header div img{
  margin-top: 20px;
}


.content{
  background: url("./bg-home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
}

.content-flex{
  height: 90%;
  display: flex;
  align-items:flex-end;
  justify-content:flex-end;
}

.circle{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: pink;
}

.absolute{
  position: absolute;
  background-color: rgb(231, 4, 95);
  right:-8px;
  top:-5px;
  padding: 20px;
  font-size: 20px;
  color: white;
}
.relative{
  position: relative;
  background-color: #ffdf0d;
}

.justify-space-evenly{
  justify-content: space-evenly;
}

.banner{
  background-color: rgb(215, 215, 47);
  padding: 30px 0;
}

.banner div {
  text-align: center;
  margin: 10px;
  color: white;
}
.banner i {
  font-size: 50px;
}

.banner p {
  font-size: 30px;
}

.banner hr {
  margin: 15px 0
}

.footer {
  text-align: center;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}

.w-25{
  width: 15%;
}

@media screen and (max-width : 800px ){
.header{
    display: block;
}

.flex-wrap{
  flex-wrap: wrap;
}

.header-ul{
  display: none;
}

.header:hover  .header-ul{
  display: block !important;
}
.header:hover{
  height: auto;
}
.header:hover .header-ul li {
  display: block;
  padding: 0 ;
}
.w-25{
  width: 40%;
}
.sm-flex-wrap{
  flex-wrap: wrap;
}
} 

.justinfy-space-between{
  justify-content: space-between;
}
.new-project-section{ 
  background-color:#eae7e8;
}
.new-project-section h1 {
  color: #7A6666;
  font-size: 18px;
  padding: 47px 0 18px;
  text-transform: uppercase;
}
.new-project-section h2 {
  color: #E32A62;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  padding: 0 0 26px;
  text-align: left;
}

.new-project-section p {
  font-size: 18px;
  letter-spacing: 1px;
  border-spacing: 20px;
}

.new-project-section a {
  color: #7a6666
}